<div class="confirmation-container">
  <div class="confirmation-items">
    <h1 class="confirmation-header">Success! 🎉</h1>
    <p class="confirmation-item">
      Thank you, <b>{{ fullName }}</b>!
    </p>
    <p class="confirmation-item">
      Your <b>$ {{ totalCost }}</b> order is confirmed!
    </p>
    <p class="confirmation-item">
      Please allow 1-3 business day(s) for shipping.
    </p>
    <button class="submit-button" type="button" (click)="onClick()">
      Back to product list
    </button>
  </div>
</div>
